body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.userMessage {
  color: grey;
  font-size: 0.9;
}

.userName {
  font-size: 1.1rem;
  padding-left: 10px;
}
